@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  padding-top: 64px;
  padding-bottom: 56px;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Fix for Leaflet map container */
.leaflet-container {
  z-index: 1;
}

/* Ensure header and footer are above map */
header, footer {
  z-index: 10;
}
